<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

  <!-- 🚨 Keep only the permissions used in your app 🚨 -->

  <key>NSPhotoLibraryUsageDescription</key>
  <string>Give $(PRODUCT_NAME) permission to save photos</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>Give $(PRODUCT_NAME) permission to add photos</string>
  <key>NSCameraUsageDescription</key>
  <string>Give $(PRODUCT_NAME) permission to access your camera</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Give $(PRODUCT_NAME) permission to use your microphone</string>

  <!-- … -->

</dict>
</plist>